
@import 'app/components/side-bar/style';
@import 'app/components/details-card/style';
@import 'app/components/work/embedded-webpage/style';
@import 'app/components/work/widget-view/style';

@import 'app/components/webpage-view/style';
@import 'app/components/request-contact/style';
