.application-page {
  .side-bar {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    &.compact {
      width: 300px;
    }
  }
  .application-outlet {
    margin-left: 300px;
    position: fixed;
    width: calc(100% - 300px);
    overflow-y: scroll;
    bottom: 0;
    top: 0;
  }
}
