<div class="work-page">
  {{#if model.iframe}}
    <div class="iframe-container">
      <div class="iframe-wrapper">
        <iframe src={{model.url}}></iframe>
      </div>
    </div>
  {{else}}

  {{/if}}
</div>
