.side-bar {

  box-shadow: 8px 0 8px -10px #000;
  background-color: #2196f3;

  h1, h2, h3, p, div {
    color: white;
  }

  .header {
    padding: 1em;
  }

  .works {

  }

  .work {
    padding: 0.6em 1.3em;
  }

}
