.side-bar {

  box-shadow: 8px 0 8px -10px #000;
  background-color: #2196f3;
  padding: 2rem 0;
  transition: width 0.5s;
  transition-timing-function: ease-in-out;

  h1, h2, h3, p, div {
    color: white;
  }

  .header {
    padding: 1rem;
    text-align: center;
  }

  .works {
    margin: auto;
    max-width: 300px;
    text-align: center;
  }

  section .title {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 2em;
    color: #ddd;
  }

  .item.work {
    border-radius: 5px;
    &:hover {
      background-color: #56a5e4;
    }
  }

  &.compact {
    .item.work {
      border-radius: 0;
    }
  }

  a.active {
    .work {
      cursor: default;
      background-color: #56a5e4;
    }
  }

  a {
    width: 100%;
    color: white;
  }

  .item {
    padding: 0.6rem 1.3rem;
  }

  button.request-resume {
    text-transform: inherit;
    width: 100%;
    margin: 1em 0;
    padding: 12px;
    color: #fafafa;
    margin-top: 32px;
  }

}
