
<div class="header">
  <h3 class="title">John's Works</h3>
</div>

<div class="works">

  <section class="websites">
    <div class="title item">Websites</div>
    {{#link-to 'work' 'www.bestfoodfeed.com'}}
      <div class="work item">www.bestfoodfeed.com</div>
    {{/link-to}}
    {{#link-to 'work' 'contributors.bestfoodfeed.com'}}
      <div class="work item">contributors.bestfoodfeed.com</div>
    {{/link-to}}
    {{#link-to 'work' 'partners.bestfoodfeed.com'}}
      <div class="work item">partners.bestfoodfeed.com</div>
    {{/link-to}}
    {{#link-to 'work' 'treasurechestfoods.com'}}
      <div class="work item">treasurechestfoods.com</div>
    {{/link-to}}
  </section>

  <section class="widgets">
    <div class="title item">Widgets</div>
    {{#link-to 'work' 'map-pins'}}
      <div class="work item">Map Pins</div>
    {{/link-to}}
  </section>

  <!-- <section class="ios-apps">
    <div class="title item">iOS Applications</div>
    {{#link-to 'work' 'bestfoodfeed'}}
      <div class="work item">BestFoodFeed</div>
    {{/link-to}}
    {{#link-to 'work' 'myfab5'}}
      <div class="work item">MyFab5</div>
    {{/link-to}}
    {{#link-to 'work' 'bestfoodclub'}}
      <div class="work item">BestFoodClub</div>
    {{/link-to}}
    {{#link-to 'work' 'bestfoodmarketer'}}
      <div class="work item">BestFoodMarketer</div>
    {{/link-to}}
    {{#link-to 'work' 'seatsideservice'}}
      <div class="work item">SeatSideService</div>
    {{/link-to}}
  </section> -->

  {{#paper-button class='request-resume' onClick=(action 'requestResume')}}
    Request Resume
  {{/paper-button}}

</div>

{{request-resume show=isRequestingResume}}
