
<div class="header">
  <h2 class="title">John's Work</h2>
</div>

<div class="works">
  <
  <section class="websites">
    <div class="work">www.bestfoodfeed.com</div>
    <div class="work">contributors.bestfoodfeed.com</div>
    <div class="work">partners.bestfoodfeed.com</div>
  </section>
  <section class="ios">
    <div class="work">BestFoodFeed</div>
    <div class="work">MyFab5</div>
    <div class="work">BestFoodClub</div>
    <div class="work">BestFoodMarketer</div>
    <div class="work">SeatSideService</div>
  </section>
</div>
