.work.embedded-webpage {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  iframe {
    width: 100%;
    height: 50vh;
    min-height: 500px;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
    border: none;
    background-color: white;
  }
  md-card {
    margin-bottom: 32px;

    button {
      &:hover, &:focus {
        color: #999;
      }
    }
  }
}
